body {
  background: #4f46e5;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  width: 420px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 12px;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
